test.json
[
  {
    "id": "b032cba2.69981",
    "type": "tab",
    "label": "Flow 1"
  },
  {
    "id": "6046b7d1.a52ab",
    "type": "device-in",
    "z": "b032cba2.69981",
    "debug": "",
    "x": 211.5,
    "y": 136,
    "wires": ["d4d0b51f.60b0b"]
  },
  {
    "id": "5ddf7439.0d632c",
    "type": "device-out",
    "z": "b032cba2.69981",
    "debug": "",
    "x": 563.5,
    "y": 339,
    "wires": []
  },
  {
    "id": "d4d0b51f.60b0b",
    "type": "switch",
    "z": "b032cba2.69981",
    "name": "",
    "property": "payload",
    "propertyType": "msg",
    "rules": [
      {"t":"eq","v":"","vt":"str"      }
    ],
    "checkall": "true",
    "outputs": 1,
    "x": 308,
    "y": 196,
    "wires": ["ad106680.4d93e8"]
  },
  {
    "id": "ad106680.4d93e8",
    "type": "change",
    "z": "b032cba2.69981",
    "name": "",
    "rules": [
      {"t":"set","p":"payload","pt":"msg","to":"","tot":"str"      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 434,
    "y": 263,
    "wires": ["5ddf7439.0d632c"]
  }
]
